
/********* reset *********/

* {
	margin: 0;
	padding: 0;
}
ul, ol, li {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style-type: none;
}

/********* main rules *********/

body {
	background-color: #ccc;
}
body, p, li {
	font-family: Ubuntu, sans-serif;
	font-size: 15px;
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}
p {
	padding: 6px 0;
	line-height: 20px;
}
/* mobile-first default background for Header and Footer */
header, footer {
	background: url(../images/background_low.jpg) no-repeat;
}
/* Small desktop background for Header and Footer */
@media only screen and (min-width:600px) {
	header, footer {
		background: url(../images/background_med.jpg) no-repeat;
	}
}
/* Hi resolution background for Header and Footer */
@media only screen and (min-width:1200px) {
	header, footer {
		background: url(../images/background_hi.jpg) no-repeat;
	}
}

/********* header *********/

header {
	background-position: center top;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	padding-top: 200px;
	height: 600px;
}
header h1 {
	line-height: 80px;
	text-align: center;
	font-size: 62px;
	color: #FFF;
	text-shadow: 0px -1px 3px #000000;
}

/********* nav *********/

nav {
	margin-top: 70px;
}
nav ul {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}
nav ul#lang_menu {
	margin-bottom: 22px;
}
nav ul li {
	display: inline-block;
	line-height: 50px;
	padding: 0 5px;
	margin: 0 5px;
	border: 2px solid #DF4A4A;
	background: rgba(0,0,0,0.5);
	transition: background-color 0.3s linear;
}
nav ul li.highlight {
	background-color: #F96060;
}
nav ul li.highlight a {
	color: #FFF;
}
nav ul li:hover {
	background-color: rgba(255, 0, 0, 0.34);
}
nav ul li, nav ul li a {
	outline: none;
}
nav ul li a:hover, nav ul li a:focus, nav ul li:hover a {
	color: #fff;
}
nav ul li a {
	color: #DF4A4A;
}
nav ul li a, nav ul li a:hover, nav ul li a:focus {
	display: block;
	font-size: 24px;
	text-decoration: none;
	padding: 0 10px;
	text-shadow: 0px -1px 1px #000;
}
nav ul li.flag {
	border: 0;
}
nav ul li.flag, nav ul li.flag a, nav.fixed ul li.flag, nav.fixed ul li.flag a {
	padding: 0;
	line-height: inherit;
	font-size: inherit;
}
nav ul li.flag img {
	opacity: 0.8;
	transition: opacity 0.3s linear;
}
nav ul li.flag img:hover {
	opacity: 1;
}
@media only screen and (max-width:767px) {
	header {
		padding-top: 90px;
	}
	header h1 {
		line-height: 60px;
	}
	nav {
		margin-top: 50px;
	}
	nav ul li {
		margin-bottom: 12px;
	}
	nav ul li a, nav ul li a:hover, nav ul li a:focus {
		font-size: 24px;
	}
}
nav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 15px 0 5px;
	background: rgba(0,0,0,0.85);
	border-bottom: 4px solid #000;
	z-index: 999;
}
nav.fixed ul li {
	line-height: 40px;
}
nav.fixed ul#lang_menu {
	position: absolute;
	right: 15px;
	line-height: 44px;
}
nav.fixed ul#lang_menu li.flag {
	line-height: 28px;
}
nav.fixed ul li a {
	font-size: 21px;
}
/********* content *********/

section {
	padding: 0;
	background-color: #FEFAFA;
	box-shadow: 0px -5px 16px #333;
}
article {
	min-height: 400px;
	max-width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	padding: 105px 30px 0;
}
article h2 {
	line-height: 92px;
	font-size: 42px;
	color: #222;
	text-transform: capitalize;
}
article p:first-child:first-letter {
	float: left;
	color: #903;
	font-size: 62px;
	padding-right: 6px;
	padding-top: 5px;
	font-family: Georgia, sans-serif;
}
article#about > img {
	margin-bottom: 30px;
	width: 130%;
}
article#about .row + .row {
	margin-top: 25px;
}
.multi_column {
	float: left;
	width: 33%;
	text-align: justify;
}
article .multi_column p {
	padding-left: 30px;
}
article div:first-of-type p {
	padding-left: 0;
	padding-right: 10px;
}
.lSSlideOuter img {
	cursor: pointer;
}
.lSSlideOuter .lSPager.lSGallery img {
	display: inline;
}
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
	text-align: center;
}
.row.box {
	background-color: #eee;
}
@media only screen and (min-width:1200px) {
	article#about > img {
		display: none;
	}
	article#about {
		background: url('../images/about/about.jpg') no-repeat;
		background-position: 0 200px;
	}
	article#about h2 {
		margin-bottom: 530px;
	}
}
@media only screen and (min-width:768px) {
	article {
		padding: 78px 30px 0;
	}
	article#about > img {
		width: 100%;
	}
	#exibitions .box .box {
		padding: 25px;
	}
	.row.box {
		background: none;
	}
	.row .lSSlideOuter, .row .box {
		padding: 5px;
		box-shadow: 11px 0px 20px -10px #999, -11px 0px 20px -10px #999;
		margin-bottom: 10px;
		background-color: #eee;
	}
}

/********* contact form *********/

#contact-container {
	margin-bottom: 50px;
	padding: 30px 0;
	text-align: center;
}
.contact-input {
	width: 70%;
	font-size: 1.2em;
	padding: 10px 10px 10px 54px;
	margin-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	border: 3px solid #5c5c5c;
	border-radius: 5px;
}
#contact-icon-user, #contact-icon-mail, #contact-icon-pencil {
	position: absolute;
	padding: 8px 0 0 15px;
}
#contact-icon-mail {
	padding: 8px 0 0 12px; /* For best align */
}
#contact-comment {
	height: 250px;
	resize: none;
}
#contact-name:hover, #contact-email:hover, #contact-comment:hover {
	border: 3px solid #DF4A4A;
}
#contact-name:focus, #contact-email:focus, #contact-comment:focus {
	border: 3px solid #DF4A4A;
	background-color: #F5E6E6;
	outline: none;
}
.g-recaptcha > div > div {
	margin: 0 auto;
}
#contact-send {
	width: 300px;
	padding: 8px 0;
	margin-top: 20px;
	background-color: #323232;
	color: #DF4A4A;
	cursor: pointer;
	font-size: 24px;
	border: 2px solid #DF4A4A;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#contact-send:hover {
	background-color: #711919;
	border-color: #DF4A4A;
	color: #ddd;
}

/********* footer *********/

footer {
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
}
footer .menu {
	padding: 30px;
	background: url(../images/classy-fabric.png);
	background-color: rgba(0,0,0,0.5);
}
footer .menu ul.social {
	list-style-type: none;
	text-align: center;
	border: 1px dashed #CCC;
	margin: 0 auto;
	padding: 25px 0px;
	max-width: 500px;
	border-radius: 10px;
}
footer .menu ul.social li.description {
	display: block;
	font-size: 32px;
	color: #eee;
	line-height: 50px;
	padding-bottom: 15px;
}
footer .menu ul.social li.social {
	display: inline-block;
	padding: 10px;
}
footer .menu ul.social a {
	font-size: 32px;
	height: 70px;
	width: 70px;
	line-height: 70px;
	display: block;
	border-radius: 5px;
	border: 2px solid;
	background-color: #eee;
}
footer .menu ul.social li.facebook a {
	color: #728ab8;
	border-color: #44619d;
}
footer .menu ul.social li.facebook a:hover {
	background-color: #44619d;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social li.gplus a {
	color: #dd4b39;
	border-color: #dd4b39;
}
footer .menu ul.social li.gplus a:hover {
	background-color: #dd4b39;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social li.twitter a {
	color: #49bce7;
	border-color: #49bce7;
}
footer .menu ul.social li.twitter a:hover {
	background-color: #49bce7;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social li.linkedin a {
	color: #728ab8;
	border-color: #1b86bc;
}
footer .menu ul.social li.linkedin a:hover {
	background-color: #1b86bc;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social a:hover {
	transition: background-color 0.414141s linear;
}
footer .copyright {
	background-color: rgba(0,0,0,0.8);
	line-height: 32px;
	font-size: 14px;
	text-align: center;
}
footer .copyright p {
	color: #B8B8B8;
	margin: 0;
}

/********* extra rules *********/

iframe {
	/*display: none;*/
}