* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccc;
}
body, p {
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #333;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}
p {
	padding: 8px 0;
	line-height: 21px;
}
/* mobile-first default background for Header and Footer */
header, footer {
	background: url(../images/background_low.jpg) no-repeat;
}
/* Small desktop background for Header and Footer */
@media only screen and (min-width:600px) {
	header, footer {
		background: url(../images/background_med.jpg) no-repeat;
	}
}
/* Hi resolution background for Header and Footer */
@media only screen and (min-width:1200px) {
	header, footer {
		background: url(../images/background_hi.jpg) no-repeat;
	}
}
header {
	background-position: center top;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	padding-top: 200px;
	height: 450px;
}
header h1 {
	line-height: 80px;
	text-align: center;
	font-size: 62px;
	color: #FFF;
	text-shadow: 0px -1px 3px #000000;
}
nav {
	margin-top: 70px;
}
nav ul {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
}
nav ul li {
	display: inline-block;
	line-height: 50px;
	padding: 0 5px;
	margin: 0 5px;
	border: 2px solid #DF4A4A;
	background: rgba(0,0,0,0.5);
	transition: background-color 0.3s linear;
}
nav ul li.highlight {
	background-color: #F96060;
}
nav ul li.highlight a {
	color: #FFF;
}
nav ul li:hover {
	background-color: rgba(255, 0, 0, 0.34);
}
nav ul li a {
	display: block;
	color: #DF4A4A;
	font-size: 24px;
	text-decoration: none;
	padding: 0 10px;
	text-shadow: 0px -1px 1px #000;
}
nav ul li:hover a {
	color: #ddd;
}
nav.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 15px 0;
	background: rgba(0,0,0,0.85);
	border-bottom: 4px solid #000;
	z-index: 999;
}
nav.fixed ul li {
	line-height: 40px;
}
nav.fixed ul li a {
	font-size: 21px;
}

section {
	padding: 0;
	background-color: #FEFAFA;
	box-shadow: 0px -5px 16px #333;
}
article {
	min-height: 400px;
	max-width: 1150px;
	overflow: hidden;
	margin: 0 auto;
	padding: 78px 30px 0;
}
article h2 {
	line-height: 92px;
	font-size: 42px;
	color: #222;
}
article p:first-child:first-letter {
	float: left;
	color: #903;
	font-size: 62px;
	padding-right: 6px;
	padding-top: 5px;
	font-family: Georgia, sans-serif;
}
article#about {
	background: url('../images/about/about.jpg') no-repeat;
	background-position: 0 170px;
}
article#about h2 {
	margin-bottom: 510px;
}
.multi_column {
	float: left;
	width: 33%;
	text-align: justify;
}
article .multi_column p {
	padding-left: 30px;
}
article div:first-of-type p {
	padding-left: 0;
	padding-right: 10px;
}
.lSSlideOuter, .frame {
	padding: 5px;
	box-shadow: 11px 0px 20px -10px #999, -11px 0px 20px -10px #999;
	margin-bottom: 10px;
	background-color: #eee;
}
.lSSlideOuter img {
	cursor: pointer;
}
.lSSlideOuter .lSPager.lSGallery img {
	display: inline;
}
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
	text-align: center;
}

/* Start of contact form */
#contact-container {
	margin-bottom: 25px;
	padding-top: 30px;
	text-align: center;
}
.contact-input {
	width: 70%;
	font-size: 1.2em;
	padding: 10px 10px 10px 54px;
	margin-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
	border: 3px solid #5c5c5c;
	border-radius: 5px;
}
#contact-icon-user, #contact-icon-mail, #contact-icon-pencil {
	position: absolute;
	padding: 8px 0 0 15px;
}
#contact-icon-mail {
	padding: 8px 0 0 12px; /* For best align */
}
#contact-comment {
	height: 250px;
	resize: none;
}
#contact-name:hover, #contact-email:hover, #contact-comment:hover {
	border: 3px solid #DF4A4A;
}
#contact-name:focus, #contact-email:focus, #contact-comment:focus {
	border: 3px solid #DF4A4A;
	background-color: #F5E6E6;
	outline: none;
}
#recaptcha_area {
	padding: 5px;
	border: 3px solid #5c5c5c;
	border-radius: 5px;
	margin: 0 auto;
}
#contact-button-bottom {
	height: 20px;
}
#contact-button {
	margin: auto;
	width: 30%;
}
#contact-send {
	width: 300px;
	padding: 10px 0;
	margin-top: 20px;
	background-color: #323232;
	color: #DF4A4A;
	cursor: pointer;
	font-size: 28px;
	border: 2px solid #DF4A4A;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
#contact-send:hover {
	background-color: #711919;
	border-color: #DF4A4A;
	color: #ddd;
}
/* End of contact form */

footer {
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
}
footer .menu {
	padding: 30px;
	background: url(../images/classy-fabric.png);
	background-color: rgba(0,0,0,0.5);
}
footer .menu ul.social li.description {
	display: block;
	font-size: 32px;
	color: #eee;
	line-height: 50px;
	padding-bottom: 15px;
}
footer .menu ul.social {
	list-style-type: none;
	text-align: center;
	border: 1px dashed #CCC;
	margin: 0 auto;
	padding: 25px 0px;
	width: 500px;
	border-radius: 10px;
}
footer .menu ul.social li.social {
	display: inline-block;
	padding: 10px;
}
footer .menu ul.social a {
	font-size: 32px;
	height: 70px;
	width: 70px;
	line-height: 70px;
	display: block;
	border-radius: 5px;
	border: 2px solid;
	background-color: #eee;
}
footer .menu ul.social li.facebook a {
	color: #728ab8;
	border-color: #44619d;
}
footer .menu ul.social li.facebook a:hover {
	background-color: #44619d;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social li.gplus a {
	color: #dd4b39;
	border-color: #dd4b39;
}
footer .menu ul.social li.gplus a:hover {
	background-color: #dd4b39;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social li.twitter a {
	color: #49bce7;
	border-color: #49bce7;
}
footer .menu ul.social li.twitter a:hover {
	background-color: #49bce7;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social li.linkedin a {
	color: #728ab8;
	border-color: #1b86bc;
}
footer .menu ul.social li.linkedin a:hover {
	background-color: #1b86bc;
	color: #eee;
	border-color: #eee;
}
footer .menu ul.social a:hover {
	transition: background-color 0.414141s linear;
}
footer .copyright {
	background-color: rgba(0,0,0,0.8);
	line-height: 32px;
	font-size: 14px;
	text-align: center;
}
footer .copyright p {
	color: #B8B8B8;
}